{% layout 'theme.password' %}

{% unless shop.password_message == blank %}
  {{ shop.password_message }}
{% endunless %}

<div class="social-links">
<a href="https://www.facebook.com/pelicoxyz/">Facebook</a>
<a href="https://twitter.com/PelicoXyz">Twitter</a>  
<a href="https://www.instagram.com/pelico.xyz/">Instagram</a>
</div>

<!-- {% form 'storefront_password' %}

{{ form.errors | default_errors }}

<label for="password">Enter store using password:</label>
<input type="password" name="password">
<input type="submit" value="Enter" class="btn btn-white">

{% endform %} -->